* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 204, 170);
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 255, 255); 
  color:#FC5404 ;
  a{
    color: #FC5404;
    text-decoration: none;
    font-weight: 600;
  }
}
.container {
  width: 80vw;
  height: 100vh;
  margin: auto;
  padding: 30px;
  margin-top: 30px;
  .post {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    &-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
    }
  }
}
//ekleme
form{
  width: 50vw;
  margin:150px auto;
  height:60vh ;
  background-color: #a7957a;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    input{
      max-width: 350px;
      padding: 10px 20px;
      border-radius: 15px;
    }
  }
  button{
    padding: 8px 20px;
    border-radius: 10px;
    color:#FC5404;
    background-color: white;
    font-weight: 800;
    border: none;
  }
}